*{scroll-behavior: smooth;}
@keyframes introCard {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
body {
  margin:0;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-100vw, 0, 0);
  }
}
 
.bg {
    animation: slide ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(147, 210, 211) 50%, rgb(149, 164, 220) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration: 120s;
}
 
.bg3 {
    animation-duration: 100s;
}
 
.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;


}
.error{
  border-bottom-color: red;
}
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;
  transition: all 500ms;
  overflow: hidden;
}
.card:not(#newTaskButton){
  opacity: 0;
  animation: introCard 750ms ease-in 0ms forwards;
  animation-delay: 0ms;

}
.card:hover{
  transform: scale(1.13);
  box-shadow: rgba(100, 100, 111, 0.757) 0px 0px 20px 2px;
  z-index: 1;
  transition: all 200ms;
  background-color: rgb(255, 255, 255) !important;
}
.card:not(#newTaskButton):active{
  transform: scale(1.05);
  background-color: rgb(235, 235, 244);
  transition: all 90ms;
}
.card-hidden{
  background-color: rgb(192, 192, 198);
  color:rgb(75, 75, 82)
}
.clickedOn{
  transform: scale(1.05);

}
.tasklist{
  width: 100vw;
  padding: 0 2vw;
  display: flex;
}
ul{
  justify-self: center;
}
.card-body{
  overflow: auto;

  transition: all 0.75s ease-out;

}
.hiddenCont{
  clip: rect(auto, auto, 0rem, auto);
  max-height: 0px;
  position: absolute;
  opacity: 0;
  padding: 0;
  margin: 0;

  transition: all .5s ease-in;
}
.animateHeight{
  clip: rect(auto, auto, 100vh, auto);
  max-height: 100vh;
  opacity: 1;
}
.flex-even {
  flex: 1;
}