*{scroll-behavior: smooth;}
body {
  margin:0;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-100vw, 0, 0);
  }
}
 
.bg {
    animation: slide ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration: 54s;
}
 
.bg3 {
    animation-duration: 35s;
}
 
.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

h1 {
    font-family:monospace;


}
.error{
  border-bottom-color: red;
}
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;
  transition: all 500ms;
}
.card:hover{
  transform: scale(1.13);
  box-shadow: rgba(100, 100, 111, 0.757) 0px 0px 20px 2px;
  z-index: 1;
  transition: all 200ms;
  background-color: rgb(255, 255, 255) !important;
}
.card:active{
  transform: scale(1.05);
  background-color: rgb(235, 235, 244);
  transition: all 90ms;
}
.card-hidden{
  background-color: rgb(192, 192, 198);
  color:rgb(75, 75, 82)
}
.clickedOn{
  transform: scale(1.05);

}